@inherits LayoutComponentBase

<div id="background"></div>

<section class="sticky">
	<div class="bubbles">
		<div class="bubble-down">✨</div>
		<div class="bubble-down">✨</div>
		<div class="bubble-down">✨</div>
		<div class="bubble-down">✨</div>
		<div class="bubble-down">✨</div>
		<div class="bubble-down">✨</div>
		<div class="bubble-down">✨</div>
		<div class="bubble-down">✨</div>
		<div class="bubble-down">✨</div>
		<div class="bubble-down">✨</div>
		<div class="bubble">🎈</div>
		<div class="bubble">🎈</div>
		<div class="bubble">🎈</div>
		<div class="bubble">🎈</div>
		<div class="bubble">🎈</div>
		<div class="bubble">🎈</div>
		<div class="bubble">🎈</div>
		<div class="bubble">🎈</div>
		<div class="bubble">🎈</div>
		<div class="bubble">🎈</div>
	</div>
</section>
<div id="centre">
	<h1 id="top-text">Happy Birthday</h1>
	<img id="main-img" src="img/pixel_cat.png" alt="pixel cat" />
	<h1 id="bottom-text">Peachy Baby</h1>
	<h2 id="to-text">Dear my wonderful <span class="light-outline">🍑</span></h2>
	<p id="message-text">I hope you have a lovely birthday and enjoy your new IP-AD ME-ME <span class="light-outline">📱</span></p>
	<p id="from-text">Lots of <span class="light-outline">❤️</span> from your Danny Baby</p>
</div>