@inherits LayoutComponentBase

	<div id="background"></div>

	<section class="sticky">
		<div class="bubbles">
			<div class="bubble">🎈</div>
			<div class="bubble">🎈</div>
			<div class="bubble">🎈</div>
			<div class="bubble">🎈</div>
			<div class="bubble">🎈</div>
			<div class="bubble">🎈</div>
			<div class="bubble">🎈</div>
			<div class="bubble">🎈</div>
			<div class="bubble">🎈</div>
			<div class="bubble">🎈</div>
		</div>
	</section>
	<div id="centre">
		<h1 id="top-text">❤️ Happy Birthday ❤️</h1>
		<img id="main-img" src="img/pixel_cat.png" alt="pixel cat" />
		<h1 id="bottom-text">Peachy Baby</h1>
		<h2 id="from-text"><span class="light-outline">❤️</span> from your Danny Baby <span class="light-outline">🍑</span></h2>
	</div>